[Unit]
Description=Switch audio to HDMI CEC
#Conflicts=audio-bluetooth audio-line-out

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c "\
                      echo Switching audio to HDMI\
                      "
ExecStop=/bin/sh -c "\
                      echo Stopping HDMI\
                      "


